img {width:100%;height:auto;}
body, h1, h2, h3, h4, h5 {margin:0;}
a {text-decoration: none;color:#333;}
ul, li, p {list-style: none;margin:0;padding:0;}
input, button {border:0;}

#header {border-bottom:1px solid rgb(225, 225, 225);}
#header:after {content:'';display:block;clear:both;}
#logo {float:left;margin-right:10px;}
#logo a {display:block;width:112px;height:50px;padding:15px 8px 14px 20px;}
#menu {float:left;display:flex;}
#menu li {margin-right:15px;cursor:pointer;}
#menu li:hover a span {color:rgb(250, 149, 11);}
#menu li a {display:block;line-height:18px;padding:19px 15px 17px;box-sizing: border-box;}
#menu li a span {display:block;font-size:17px;color:rgb(34, 34, 34);font-weight:bold; line-height:1.53;}
#menu li a .small {height:17px;font-size:12px;font-weight:normal; line-height:1.42;}
#login {float:right;padding:25px 20px 24px 0;}
#login a {display:block;font-size:12px;height:30px;padding:5px 8px;background:rgb(238, 238, 238);border:1px solid rgb(225, 225, 225);border-radius:4px;box-sizing: border-box;}

/* 메인 */
#main {position:fixed;display:flex; justify-content:center;width:100%; height:100%;background-image: url("/img/main_img.jpg"); background-size:cover; background-position:center;}
#main .wrapper {width:574px;padding-top:250px;}
#main h2 {font-size:40px;font-weight:bold; text-shadow: rgb(255 255 255) 0px 16px 40px;text-align:center;}
#main .tab {display:flex;height:42px;background-color:rgba(0, 0, 0, 0.65);border-radius: 8px;margin-bottom: 26px;overflow:hidden;}
#main .tab li {display:flex;align-items:center;justify-content:center;width:100%;height:100%;padding:0 8px;cursor:pointer;}
#main .tab li.on {background:#fff;cursor:default;}
#main .tab li.on span {color:#333;font-weight:bold;}
#main .tab li span {font-size:17px;line-height:1.35;text-align:center;color:#fff;}
#main .search {position:relative;display:flex;border-radius: 8px; overflow:hidden; background-color:rgb(250, 149, 11);}
#main .search .input {width:508px;padding:17px 28px;box-sizing: border-box;background-color:rgba(242,242,242,1.00);}
#main .search .input input {width:100%; display:block;background-color:rgba(242,242,242,1.00);font-size:16px;line-height:1.5;}
#main .search .input input::placeholder {font-size:15px; color:rgba(166,166,166);}
#main .search .btn {position:absolute;bottom:0;right:0;width:66px;height:60px;padding:15px 20px; box-sizing: border-box;cursor:pointer;}
#main .search .btn img {width:28px;}

/* map */
#map .wrapper {position:fixed;top:80px;left:0;width:100%;height:100%;}
#mapWrap {width:100%;height:100%;}
#map .search_wrap {position:fixed;z-index:999;top:100px;left:20px;width:360px;box-sizing: border-box; border:1px solid rgba(0, 0, 0, 0.15);background:#fff;}
#map .search_wrap .search_inner {padding:10px;}
#map .search_wrap .search_inner .input_wrap {display:flex;border:1px solid rgb(250, 136, 11);height:30px; border-radius: 4px;overflow:hidden;}
#map .search_wrap .search_inner .input_wrap .input {width:285px;padding:0 10px;}
#map .search_wrap .search_inner .input_wrap .input input {width:100%;height:27px;font-size:13px;}
#map .search_wrap .search_inner .input_wrap .btn {float:right;width:31px;height:30px; background:rgb(250, 136, 11);}
#map .search_wrap .search_inner .input_wrap .btn button {width:30px;height:30px;background:url("https://s.zigbang.com/www/images/ic_title_searchbar_30x30_nor_white.png") center center / 100% no-repeat transparent;}
#map #placesList {position:absolute;width:360px;top:52px;left:-1px;background:#fff;border:1px solid rgb(204, 204, 204); box-shadow: rgb(0 0 0 / 6%) 0px 1px 0px;box-sizing:border-box; max-height:400px;overflow-y:auto;}
#map #placesList .item {font-weight:bold;color:rgb(68, 68, 68);padding:13px 10px 0;cursor:pointer;}
#map #placesList .item:hover {background-color:rgb(229, 229, 229);}
#map #placesList .item .info {padding-bottom:13px; border-bottom:1px solid rgb(241, 241, 241);}
#map #placesList .item .info h5 {font-size: 12px;}
#map #placesList .item .info span {font-size:10px;}

#list {display:none;position:fixed; right:0;top:80px;width:400px;height:100%;background:#fff;border-left:1px solid rgb(225, 225, 225);}
#list .title h3 {height:56px;display:flex;align-items: center;font-size:18px;padding:0 18px;font-weight:normal;}
#list .list_wrapper {background:rgb(238, 238, 238);}
#list .list_wrapper .info {padding:15px 18px;margin-bottom:10px;border-top:1px solid rgb(238, 238, 238);background:#fff;}
#list .list_wrapper .info:after {content:'';display:block;clear:both;}
#list .list_wrapper .info h2{font-size:23px;line-height:30px;}
#list .list_wrapper .info span {color:rgb(117, 117, 117);font-size:14px;}
#list .list_wrapper .apts .info {margin-bottom:0;border-bottom:1px solid rgb(238, 238, 238);}
#list .list_wrapper .apts .info .area {font-size:18px; color:rgb(34, 34, 34);}
#list .list_wrapper .apts .info .more {float:right;font-size:16px; color:rgb(34, 34, 34);}
#list .list_wrapper .apts .info em {font-style: normal}
#list .list_wrapper .apts .info .more em {color:rgb(250, 136, 11)}
#list .tabs_wrapper {height:45px;overflow:hidden; scroll-behavior:smooth;background:#fff;}
#list .tabs {display:flex; flex-direction:row; height:45px;}
#list .tabs li {display:flex;align-items:center;justify-content: center; min-width:75px;text-align:center;cursor:pointer;}
#list .tabs li.on {font-weight:600;border-bottom: 2px solid #000;box-sizing: border-box;}

#list .list_wrapper .apts .products li {display:flex;padding:13px 18px;background:#fff;border-bottom:1px solid rgb(238, 238, 238);}
#list .list_wrapper .apts .products .img {width:104px;height:80px;margin-right:13px;overflow:hidden;background:rgb(246, 246, 246);}
#list .list_wrapper .apts .products .img img {width:100%;height:auto;}
#list .list_wrapper .apts .products .pd_info {display:flex; flex-direction: column}
#list .list_wrapper .apts .products .pd_info .tit {font-size:16px;font-weight: bold;}
#list .list_wrapper .apts .products .pd_info .homes {font-size:15px;margin-top:4px;color:rgb(34, 34, 34); }
#list .list_wrapper .apts .products .pd_info .num {font-size:15px;margin-top:4px;color:rgb(45, 96, 163);}