<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/main}">

<th:block layout:fragment="etc_head">
  <title>zicBang - map</title>
</th:block>

<th:block layout:fragment="contents">
  <div id="map">
    <div class="wrapper">
      <div class="search_wrap">
        <div class="search_inner">
          <div class="input_wrap">
            <div class="input"><input id="keyword" type="text" placeholder="아파트, 지역, 지하철역, 학교 검색"></div>
            <div class="btn"><button class="keyword_btn" onclick="searchPlaces()"></button></div>
          </div>
          <div id="placesList"></div>
        </div>
      </div>
      <div id="mapWrap"></div>
    </div>
  </div>
</th:block>

<th:block layout:fragment="customJs">
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8e4e9c25641692fc51f4d7c5e5d5afe1&libraries=services,clusterer,drawing"></script>
  <script type="text/javascript" th:src="@{/js/map.js}"></script>
</th:block>
