<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/main}">

<th:block layout:fragment="etc_head">
  <title>zicBang - map</title>
</th:block>

<th:block layout:fragment="contents">
  <div id="map">
    <div class="wrapper">
      <div class="search_wrap">
        <div class="search_inner">
          <div class="input_wrap">
            <div class="input"><input id="keyword" type="text" placeholder="아파트, 지역, 지하철역, 학교 검색"></div>
            <div class="btn"><button class="keyword_btn" onclick="searchPlaces()"></button></div>
          </div>
          <div id="placesList"></div>
        </div>
      </div>
      <div id="mapWrap"></div>
    </div>
  </div>
  <div id="list">
    <div class="title">
      <h3>서울특별시 강남구</h3>
      <div class="list_wrapper">
        <div class="top info">
          <h2>강남구</h2>
          <span>330 단지 · 110,799 세대</span>
        </div>

        <div class="areas">
          <div class="tabs_wrapper">
            <ul class="tabs">
              <li class="on"><span>전체</span></li>
              <li><span>10평대</span></li>
              <li><span>20평대</span></li>
              <li><span>30평대</span></li>
              <li><span>40평대</span></li>
              <li><span>50평대</span></li>
              <li><span>60평대 이상</span></li>
            </ul>
          </div>
          <div class="info">
            <span>이 지역 직방시세</span>
            <span>매매 <em class="txt">12억</em></span>
            <p>이 지역의 각 호별 시세를 평균한 값으로, 타입 별 최저~최고 시세입니다. 호별로 시세는 다를 수 있습니다.</p>
          </div>
        </div>

        <div class="apts">
          <div class="tabs_wrapper">
            <ul class="tabs">
              <li class="on"><span>인기단지</span></li>
              <li><span>최근입주</span></li>
              <li><span>시세급변동</span></li>
              <li><span>평당가</span></li>
            </ul>
          </div>
          <div class="info">
            <span>고양시 덕양구 평당가가</span>
            <span>+128개 더보기 ></span>
          </div>
          <ul>
            <li></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</th:block>

<th:block layout:fragment="customJs">
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8e4e9c25641692fc51f4d7c5e5d5afe1&libraries=services,clusterer,drawing"></script>
  <script type="text/javascript" th:src="@{/js/map.js}"></script>
</th:block>
